* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu {
  height: 100vh;
  width: 100%;
}

nav {
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 17px;
  /* In case you dont have an image as backgound put padding-bottom */
  padding-bottom: 17px;
  padding-left: 7%;
  padding-right: 7%;
}

.logo {
  color: #fff;
  font-size: 35px;
  letter-spacing: 1px;
  cursor: pointer;
}

span {
  color: rgb(204, 3, 204);
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 25px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}

nav ul li a:hover {
  color: rgb(204, 3, 204);
  transition: 0.4;
}

.btn {
  background-color: rgb(204, 3, 204);
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: 0.4;
}

.btm:hover {
  transform: scale(1.2);
}

footer {
  background-color: #111;
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer p:nth-child(1) {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.social {
  display: flex;
}

.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(204, 3, 204);
  border-radius: 50%;
  margin: 22px 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

.end {
  position: absolute;
  bottom: 35px;
  font-size: 14px;
}
