:root {
  --color-primary: #8d6bdc;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb5b;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  padding: 0;
  margin: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 14rem auto 23rem;
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-dark);
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}

.primary {
  color: var(--color-primary);
}

.danger {
  color: var(--color-danger);
}

.success {
  color: var(--color-success);
}

.warning {
  color: var(--color-warning);
}

/* MENU */
nav {
  width: 100%;
  height: 80px;
  background: var(--color-white);
  padding: 0 40px;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 10;
  box-shadow: inset 0 -1px 0 #edefef;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav a {
  font-size: 29px;
  font-weight: 700;
}

nav h3 {
  font-size: 14px;
  font-weight: 700;
}

nav .the-container {
  margin-top: 1.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 96%;
  margin: 0 auto;
}

nav .search-size {
  font-size: 20px;
}

nav .search-bar {
  background: var(--color-background);
  padding: 0.9rem var(--card-padding);
  width: 32vw;
  border-radius: var(--border-radius-2);
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color-dark-variant);
  position: absolute;
  left: 15%;
}

nav .search-bar input[type="search"] {
  color: var(--color-dark);
  background-color: transparent;
  width: 100%;
}

nav .search-bar input[type="search"]::placeholder {
  color: var(--color-info-dark);
}

nav h5 {
  color: var(--color-info-dark);
}

.the-main {
  background: var(--color-white);
  color: var(--color-dark-variant);
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 300ms ease;
}

.the-main:hover {
  background: var(--color-light);
  color: var(--color-dark-variant);
}

.inside {
  background: var(--color-primary);
  color: var(--color-white);
  text-decoration: none;
  padding: 7px 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 300ms ease;
}

.inside:hover {
  background: #ae8bff;
  color: var(--color-white);
}

nav .profile-area,
.links,
.linkers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

nav .profile-area .theme-btn {
  background: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: var(--border-radius-1);
  cursor: pointer;
}

nav .profile-area .theme-btn i {
  font-size: 1.2rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav .profile-area .theme-btn i.active {
  background: var(--color-primary);
  color: var(--color-white);
  border-radius: var(--border-radius-1);
}

nav .profile-area .profile {
  display: flex;
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

nav .profile-area button {
  display: none;
}

aside {
  height: 100vh;
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .logo {
  display: flex;
  gap: 0.8rem;
}

aside .close {
  display: none;
}

/* SIDEBAR */
aside .sidebar {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  height: 86vh;
  width: 13rem;
  /* position: relative; */
  position: fixed;
  top: 3rem;
  margin-top: 4rem;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
  width: 100%;
  cursor: pointer;
}

aside .sidebar a i {
  font-size: 1.6rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a.active {
  background: var(--color-light);
  color: var(--color-primary);
  margin-left: 0;
  width: 12.7rem;
}

aside .sidebar a.active:before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}

aside .sidebar a.active i {
  color: var(--color-primary);
  margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
  color: var(--color-primary);
}

aside .sidebar a:hover i {
  margin-left: 1rem;
}

aside .sidebar .notification.active {
  width: 9px;
  height: 9px;
  background-color: var(--color-danger);
  border-radius: 50%;
  position: absolute;
  left: 1rem;
  margin-bottom: 1.3rem;
}
